= link_to "New brand", new_brand_path
|
= link_to "Back", root_path
%br

%h1
  List of Brands
  
- @brands.each do |brand|
  %p
    = link_to brand.name, brand
    |
    = link_to "Edit", [:edit, brand]
  