!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "fr"}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag 'formtastic', 'compiled/test'
    %title
      Test WEBPULSER
  %body
    = yield
